<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <p class="nav-item nav-link">Filtrar por author: <input   type="String" id="nameToCheck" >
                <button (click)="filterAuthor()" type="submit" class="btn btn-primary">Filtrar</button></p>
            <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Create an author</button>
            </div>
            <br>
            <br>


            <h1>Autores</h1>
            <div class="card" *ngFor = "let author of authors">
                    <img src={{author.image}} class="card-img-top" alt="..." (click)="onSelected(author.id)" height="250" width="250">
                        <td style="cursor: pointer;" (click)="onSelected(author.id)"> <h3>{{author.name}}</h3>
            </div>
        </div>
        <div class="col-8">
            <div *ngIf="showView">
                <app-author-detail [authorDetail]="selectedAuthor"></app-author-detail>
            </div>
            <div *ngIf="showCreate">
                <app-author-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-author-create>
            </div>
            <div *ngIf="showEdit">
                <app-author-edit [author]="selectedAuthor" (cancel)="showHideEdit(selectedAuthor.id)" (update)="updateAuthor()" ></app-author-edit>
            </div>
        </div>   
    </div>
</div>
